# Streamlit secrets configuration
# Add your API keys here

[api_keys]
# Replace with your actual Deepgram API key
deepgram = "53e5bd9532e7084b6d0f49373cff9f7195e155b7"

# Other API configurations
speechify = "W1vp8RVy2tnAw0GEj0NPqRszlWIXCfiDyLR5qOsY1rw="

